{% extends "./base.html" %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

<div class="container">
  <h2>Perros</h2>
  <div class="row mt-5 mb-5">
    {% for p in prod_dogs %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{p.imagen}}" class="card-img-top noSelect" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nombre}}</h5>
          <p class="card-text">{{p.descripcion}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <h2>Gatos</h2>
  <div class="row mt-5 mb-5">
    {% for p in prod_cats %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{p.imagen}}" class="card-img-top noSelect" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nombre}}</h5>
          <p class="card-text">{{p.descripcion}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


{% block script %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}