{% extends "./base.html" %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="noSelect">Este es mi sitio web con Django!</h1>
  {% for p in prod %}
    <div class="card" style="width: 18rem;">
        <img src="{{p.imagen}}" class="card-img-top noSelect" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nombre}}</h5>
          <p class="card-text">{{p.descripcion}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}


{% block script %}
<script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}